.home-picture{
    width: 100%;
    filter: brightness(60%);
}
.header-details{
    position: absolute;
    top: 30%;
    left: 8%;
    width: 30rem;
}
.destination-container{
    transform: translateY(-65%);
    z-index: 90;

}
.destination-inner{
    background-color: white;
    width: 80%;
    padding: 30px 0px;
}
.destination{
    width: 100%;
    height: 38px;
    border: none;
    border-bottom: 1px solid rgba(29, 42, 59, 0.1);
    font-size: 15px;
    color: #1D2A3B;
    outline: none;
}

.date-picker{
    cursor: pointer;
}
.rln{
    position: relative;
}
.hr{
    color: black;
    background-color: black;
    transform: rotate(-90deg);
    width: 7rem;
    position: absolute;
    right: -120px;
    top: 30px;
}

@media screen and (max-width:990px) {
    .home-picture{
        height: 70vh;
    }
    .date-pickerdiv{
        margin-top: 2rem;
        margin-right: 2rem;
    }
    .date-pickerdiv{
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:600px) {
    .header-details{
        display: none;
    }
    .home-picture{
        height: 80vh;
    }
    .destination-inner{
        padding: 30px 30px;
    }
    .date-pickerdiv{
        margin-bottom: 2rem;
    }
    .rln{
        position: static;
    }
    .hr{
     display: none;
    }
    
}